<h2>
    Добавить в таблицу</h2>
    <form name = "addItem">
   <div class="content">
    <h4>Присвоить ID</h4>
    <input class="form-control" name="inputId" ng-model="Data.itemId" type="text" placeholder="ID" required>
    <span ng-show="inputId.$invalid">You break my heart</span>
    <h4>Какой город</h4>
    <input class="form-control" name="inputCity" ng-model="Data.city" type="text" placeholder="Название города" required>
    <span ng-show="inputCity.$invalid">You break my heart</span>
    <h4>Необходимая услуга</h4>
    <input class="form-control" name="inputName" ng-model="Data.name" type="text" placeholder="Наименование услуги" required>
    <span ng-show="inputName.$valid">You not break my heart</span>
    <h4>Срок</h4>
    <input class="form-control" name="inputComplete" ng-model="Data.complete" type="text" placeholder="Срок выполнения" required>
    <h4>Стоимость</h4>
    <input class="form-control" name="inputPrice" ng-model="Data.price" type="text" placeholder="Стоимость" required>
    <br>
    <button class = "addBtn" ng-click="createTask(Data, addItem)">Добавить в таблицу</button>
    </form>

</div>
</div>
</section>
<section>
    <div class="wrapper">
        <input type="search" placeholder="Поиск по слову">
        <label><input type="checkbox"/>Персональное</label>
        <label><input type="checkbox"/>Ночное</label>
        <label><input type="checkbox"/>Срочное</label>

        <a href="#"> Никита Ласточкин</a>
    </div>
</section>
<section>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Город</td>
                <td>Название</td>
                <td>Выполнить до</td>
                <td>Сумма</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="task in tasks">
                <td>{{task.itemId}}</td>
                <td>{{task.city}}</td>
                <td>{{task.name}}</td>
                <td>{{task.complete}}</td>
                <td>{{task.price | priceFilter}}</td>
            </tr>

        </tbody>
    </table>

</section>
        