<section>
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Город</td>
                        <td>Название</td>
                        <td>Выполнить до</td>
                        <td>Сумма</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="task in tasks">
                        <td>{{task.itemId}}</td>
                        <td>{{task.city}}</td>
                        <td>{{task.name}}</td>
                        <td>{{task.complete}}</td>
                        <td>{{task.price | priceFilter}}</td>
                    </tr>

                </tbody>
            </table>

        </section>
